<md-card>
	<md-toolbar color="primary" *ngIf="user">
		<h3> Usuario: {{user.name}}</h3>
	</md-toolbar>

	<md-list *ngIf="!listo">
		<md-progress-circle mode="indeterminate"></md-progress-circle>
	</md-list>

	<md-card-content *ngIf="user">		

		<md-input [(ngModel)]="user.name" placeholder="Nombre">
		</md-input>

		<md-input [(ngModel)]="user.username" placeholder="Usuario">
		</md-input>

		<md-input [(ngModel)]="user.email" placeholder="Email">
		</md-input>	

	</md-card-content>

	<md-card-actions>	
		<button md-raised-button color="primary" (click)="guardar()">		Guardar
		</button>
		<button md-raised-button color="primary" (click)="listar()">		Listar
		</button>
	</md-card-actions>
	
</md-card>